<aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl id="menu-product">
                <dt><i class="Hui-iconfont">&#xe620;</i> 门店管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="{:url('location/index')}" data-title="品牌管理" href="javascript:void(0)">门店列表</a></li>
                        <li><a data-href="{:url('location/add')}" data-title="分类管理" href="javascript:void(0)">新增门店</a></li>
                    </ul>
                </dd>
            </dl>

            <dl id="menu-member">
                <dt><i class="Hui-iconfont">&#xe60d;</i> 团购管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="{:url('deal/index')}" data-title="会员列表" href="javascript:;">团购列表</a></li>
                        <li><a data-href="{:url('deal/add')}" data-title="添加的会员" href="javascript:;">团购商品添加</a></li>
                    </ul>
                </dd>
            </dl>

            <dl id="menu-admin">
                <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href=" " data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                    </ul>
                </dd>
            </dl>

        </div>
    </aside>